.container-tres-columnas
    display: grid
    grid-template-columns: 1fr 2fr 1fr
    padding: 20px
    margin-top: 70px
    .left-container
        overflow-y: scroll
        overflow-x: hidden
        height: 80vh
    .left-container::-webkit-scrollbar
        width: 6px
        background-color: #8b01010000
    .center-container
        h2
            margin: 20px
    .left-container::-webkit-scrollbar-thumb
        background: #ff3838
        border-radius: 3px
        &:hover
            background: #15fd00
    
    @media screen and ( max-width:  400px)
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        .left-container
            order: 2
            overflow-y: hidden
            box-shadow: none
            padding: 0
        .center-container
            order: 1
            padding: 0
        .right-container
            order: 3
            padding: 0
            width: 100%
    .left-container
        display: flex
        flex-direction: column
        align-items: center
    .center-container
        padding: 0 20px
        img
            width: 100%
            opacity: 0
            transform: scale(0) rotateY(360*5deg)
            border-radius: 6px
        .active-image
            opacity: 1
            transform: scale(1) rotateY(0deg)
            transition: opacity 1s ease, transform 1s ease
    .right-container
        overflow: hidden
        display: flex
        flex-direction: column
        align-items: center
        height: 1000px
        canvas
            opacity: .7
            border: white 1px solid
            border-radius: 14px
            width: 95%